<%- include("partials/header"); -%>

    <boody>

        <section class="marginletter">
            <section class="top">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <p class="heading2 text-center bold">ग्राम पंचायत भनूपुरा वि० ख० अराव</p>
                    </div>
                    <div class="col-2 text-center"><img class="img " src="images/om.jpeg"> </div>

                </div>
                <div class="row text-center mb-4">

                    <h4><b>(जनपत फ़िरोज़ाबाद)</b></h4>

                </div>
                <div class="row">
                    <div class="col-4 text-start">
                        <h3 class="name"><b>श्री शिवराज सिंह
                            <BR> प्रधान
                            <br> मो० 8279380240</b></h3>

                    </div>
                    <div class=" col-2 text-center "></div>
                    <div class="col-6 text-end name ">
                        <h3 class="name "><b>निवास- ग्राम भनूपुरा
                            <bR> पोस्ट भारौल पिन:205121<br>(फ़िरोज़ाबाद)</b>
                        </h3>
                    </div>
                </div>
            </section>
            <section class="belowhead ">
                <div class="row mt-3 ">
                    <div class="col-1 "></div>
                    <div class="col-6 text-start "><b>पत्रांक:1</b></div>
                    <div class="col-5 text-center "><b>दिनांक:
                        <%=day%>/
                            <%=month%>/
                                <%=year%></b>
                    </div>
                </div>
            </section>

            <section class="belowhead ">
                <div class="row matterletter ">
                    <p class="matter matterletter ">
                        <%=post%>
                    </p>
                </div>
            </section>

            <section class="below ">
                <div class="row mt-3 ">
                    <div class="col-7 "></div>
                    <div class="col-5 ">
                        <h3 id="sign">हस्ताक्षर एवं मोहर</h3>
                        <h3 id="pradhan">
                            <b> प्रधान : शिवराज सिंह <br>ग्राम भनूपुरा</b></h3>
                        </b>

                    </div>
                    <div class="text-center" id="notprint"><button class="btn btn-primary" onclick="window.print()">Print Page</button></div>
                </div>
            </section>
        </section>
        </body>

        </html>