<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <section class="margin">
        <div class="row justify-content center">
            <div class="text-center">
                <br>
                <p class="text-center heading">प्रधान द्वारा प्रमाणित प्रमाण पत्र</p><br>
                <p class="text-center heading2">प्रमाणपत्र का प्रकार :
                    <span class="pramantype"><%= type%></span>
                </p>
                <BR>
                <BR>
                <p class="matter">
                    प्रमाणित किया जाता है कि श्री
                    <b><%= name%></b> पुत्र/पुत्री श्री
                    <b><%= fname%></b> <br>
                    <BR>ग्राम <b>भनूपुरा</b> पोस्ट <b>भारौल</b> जिला <b>फिरोज़ाबाद</b> थाना <b>सिरसागंज</b>
                    <BR><br> के मूल निवासी/निवासिनी है तथा मैं इनको भली भांति जनता तथा पहचानता हूँ <br>
                    <BR>इनकी जाति
                    <b><%= jaati%></b> तथा उपजाति
                    <b><%=upjaati%></b> है<br>
                    <BR>
                    <b><%= aay%></b>
                    <b><%=income%></b>
                    <b><%= rupaye%></b>
                    <BR>
                    <BR>
                    <BR>



                    </H3>
            </div>

            <div class="row mohar">

                <div class="col-1">

                </div>
                <div class="col-6">
                    <h3 id="date">दिनांक :<br>
                        <%=day%>/
                            <%=month%>/
                                <%=year%>
                    </h3>
                </div>
                <div class="col-5">
                    <h3 id="sign">हस्ताक्षर एवं मोहर</h3>
                    <h3 id="pradhan">
                        प्रधान : शिवराज सिंह <br>ग्राम भनूपुरा</h3>
                </div>

                </p>
            </div><br><br><br><br>
            <div class="text-center" id="notprint"><button class="btn btn-primary" onclick="window.print()">Print Certificate</button></div>

        </div>

    </section>




</body>

</html>